.article-management-page {
    background-color: #e2eaf8;
    margin-left: 300px;
    min-height: 713px;
    padding: 10px 30px 30px;
    box-sizing: border-box;
}
.article-management-page .top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.article-management-page .name-page {
    font-size: 30px;
    text-align: left;
}
.article-management-page .date-input {
    font-size: 17px;
    padding: 0 15px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 8px;
    border: 1px solid #c4c5c5;
    box-sizing: border-box;
    height: 45px;
    width: 200px;
    background-color: #ffffff;
}
.article-management-page .date-input::-webkit-calendar-picker-indicator {
    background-image: url('../../../assets/Calendar.svg');
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: center;
    cursor: pointer;
} 
.article-management-page .action-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.article-management-page .left-action-container select {
    width: 200px;
    padding: 12px;
    border-radius: 8px;
    font-size: 16px;
    background-color: #312fb5;
    color: white;
    border: none;
    box-sizing: border-box;
    height: 45px;
}
.article-management-page .left-action-container select:focus {
    outline: none;
    border: none;
}
.article-management-page .left-action-container option {
    background-color: white;
    color: black;
    margin-top: 10px;
}
.article-management-page .right-action-container {
    display: flex;
    gap: 15px;
    align-items: center;
}
.article-management-page .num-articles {
    font-size: 17px;
    color: #1b1994;
}
.article-management-page .search-box {
    position: relative;
}
.article-management-page .search-box input {
    font-size: 17px;
    padding: 12px 40px 12px 20px;
    border-radius: 8px;
    border: 1px solid #c4c5c5;
    width: 350px;
    box-sizing: border-box;
    height: 45px;
}
.article-management-page .search-box .icon-search {
    position: absolute;
    right: 10px;
    top: 13px;
    font-size: 17px;
    cursor: pointer;
}
.article-management-page .list-articles-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 30px;
}
.article-management-page .list-articles-container .article-item {
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-sizing: border-box;
    display: flex;
    gap: 20px;
}
.article-management-page .article-item .thumb-art {
    width: 400px;
    box-sizing: border-box;
}
.article-management-page .content-article {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.article-management-page .content-article .title-news {
    font-size: 24px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    cursor: pointer;
    padding: 0;
    line-height: 1.2;
    width: 100%;
}
.article-management-page .content-article .description {
    color: #4f4f4f;
    cursor: pointer;
    font-size: 17px;
    line-height: 1.2;
}
.article-management-page .content-article .category-topic-isHot {
    font-size: 16px;
    color: #7c7b7b;
}
.article-management-page .content-article .date-news {
    color: #312fb5;
    font-size: 16px;
}
.article-management-page .posted-timestamp {
    color: #05a442;
    font-size: 18px;
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.article-management-page .declined-timestamp {
    color: #c83636;
    font-size: 18px;
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.article-management-page .content-article .detail-status {
    display: flex;
    align-self: flex-end;
    gap: 15px;
}
.article-management-page .content-article .detail-status .btn {
    padding: 10px 20px;
    font-size: 17px;
    border-radius: 8px;
    width: 120px;
    text-align: center;
}
.article-management-page .content-article .detail-status .view-detail-btn {
    background-color: #312fb5;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}
.article-management-page .content-article .detail-status .view-detail-btn:hover {
    background-color: #15137c;
}
.article-management-page .content-article .detail-status .accept {
    background-color: #05a442;
    color: white;
}
.article-management-page .content-article .detail-status .pending {
    background-color: #e7ae1d;
    color: white;
}
.article-management-page .content-article .detail-status .decline {
    background-color: #c83636;
    color: white;
}
.article-management-page .content-article .detail-status .delete {
    background-color: #c83636;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    transition: 0.2s;
}
.article-management-page .content-article .detail-status .delete:hover {
    background-color: #8b1818;
}
.article-management-page .pagination {
    display: flex;
    justify-content: center;
    padding: 25px 0 15px;
    gap: 15px;
    align-items: center;
}
.article-management-page .btn-page {
    color: #ffffff;
    background-color: #312fb5;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
    padding: 10px 15px;
}
.article-management-page .btn-page:hover {
    background-color: #1b1994;
}
.article-management-page .text-page {
    background-color: white;
    font-size: 16px;
    border-radius: 8px;
    padding: 10px 15px;
    border: 1px solid #cccccc;
}