.change-password-page {
    background-color: #e2eaf8;
    margin-left: 300px;
    padding: 10px 30px 30px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}
@media only screen and (min-height: 713px) {
    .change-password-page {
      min-height: 713px;
    }
}
@media only screen and (min-height: 763px) {
    .change-password-page {
      min-height: 763px;
    }
}
.change-password-page .change-password-box {
    background-color: white;
    box-sizing: border-box;
    padding: 40px;
    width: 500px;
    margin: auto;
    border-radius: 8px;
    border: 1px solid #cccccc;
}
.change-password-page .title {
    font-size: 25px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 30px;
    text-align: center;
}
.change-password-page .change-psw-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.change-password-page .field-container {
    position: relative;
}
.change-password-page .label {
    font-size: 17px;
    margin-bottom: 10px;
    color: rgb(39, 38, 38);
}
.change-password-page .text-input {
    font-size: 17px;
    padding: 12px 50px 12px 20px;
    border-radius: 8px;
    border: 1px solid #777777;
    box-sizing: border-box;
    height: 47px;
    width: 100%;
}
.change-password-page .icon-eye {
    position: absolute;
    right: 15px;
    top: 44px;
    font-size: 18px;
    color: #131277;
    cursor: pointer;
    width: 20px;
}
.change-password-page .error {
    font-size: 16px;
    margin-top: 8px;
    width: 100%;
    color: #a10a25;
}
.change-password-page .submit-btn {
    width: 180px;
    padding: 12px;
    border-radius: 8px;
    font-size: 17px;
    background-color: #312fb5;
    color: white;
    box-sizing: border-box;
    border: none;
    height: 45px;
    cursor: pointer;
    transition: 0.2s;
}
.change-password-page .submit-btn:hover {
    background-color: #131277;
}